<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
  <link href="bower_components/angular-material-data-table/dist/md-data-table.min.css" rel="stylesheet" type="text/css"/>
  <link rel="stylesheet" href="style.css">

</head>

<body  class='ng-cloak' ng-app="purchaseOrder" ng-controller="appCtrl" ng-cloak>
  <div layout="column" layout-fill>

    <md-toolbar>
      <div class="md-toolbar-tools">
        <md-button ng-click="openLeftMenu()">Menu</md-button>
        <!-- fill up the space between left and right area -->
        <span flex></span>
        <span>Slant Six Digital</span>
      </div>
    </md-toolbar>


    <md-sidenav md-component-id="left" class="md-sidenav-left">
      <md-toolbar>
        <div class="md-toolbar-tools">
          <span>Slant Six Modules</span>
        </div>
      </md-toolbar>
      <div ng-repeat="program in programs">
        <md-subheader>{{program.name}}</md-subheader>
        <md-divider></md-divider>
      </div>

    </md-sidenav>


    <md-content layout-padding>
      <h1>Applications</h1>
      <div flex layout="row" class="btnGroup">
        <md-button class="md-raised md-primary">New Application</md-button>
      </div>

      <div flex layout="row" class="btnGroup">
        <md-button>Active</md-button>
        <md-button>Inactive</md-button>
        <md-button>All</md-button>
      </div>
      <md-divider></md-divider>

  <div flex layout="row" class="tableContainer">
  <table md-table flex>
    <thead md-head>
      <tr md-row>
        <th md-column md-numeric>#</th>
        <th md-column md-numeric>Name</th>

        <th md-column md-numeric>Relationship</th>
        <th md-column md-numeric>Location</th>
        <th md-column md-numeric>Responded</th>
        <th md-column md-numeric>Complete</th>
        <th md-column md-numeric>Verifies Applicant</th>
        <th md-column md-numeric>Permission to Contact</th>
      </tr>
    </thead>

    <tbody md-body>
      <tr md-row style="cursor:pointer">
        <th md-cell>1</th>
        <td md-cell>Graham Lathrop</td>
        <td md-cell>Friend</td>
        <td md-cell>Dallas, TX</td>
        <td md-cell>Yes</span></td>
        <td md-cell>Yes</span></td>
        <td md-cell>No</span></td>
        <td md-cell>Yes</span></td>
      </tr>
      <tr md-row style="cursor:pointer">
        <th md-cell>2</th>
        <td md-cell>Willie Nelson</td>
        <td md-cell>Friend</td>
        <td md-cell>Dallas, TX</td>
        <td md-cell>Yes</span></td>
        <td md-cell>Yes</span></td>
        <td md-cell>No</span></td>
        <td md-cell>Yes</span></td>
      </tr>
    </tbody>
  </table>
</div>




      <div flex layout="row" class="mainContent">
        <div layout="row">
          <div flex>
            <h2>Row Item 1</h2>
            <p>How much space will this take up?</p>
          </div>
          <div flex>
            <h2>Row Item 2</h2>
            <p>How much space will this second row take up?</p>
          </div>
        </div>
        <div layout="column">
          <div flex>
            <h2>Column Item 1</h2>
            <p>How much space will this take up?</p>
          </div>
          <div flex>
            <h2>Column Item 2</h2>
            <p>How much space will this second column take up?</p>
          </div>
        </div>
      </div>

    </md-content>

  </div>


  <!-- fill up the space between left and right area -->
  <!-- <span flex></span></md-toolbar>
        <div layout="column" layout-fill="" layout-align="top center">
<h1>Welcome to Purchase Orderer</h1>
          <p>
            The right sidenav will focus on a specific child element.
          </p>
          <div>
            <md-button ng-click="toggleLeft()" class="md-primary" hide-gt-md="">
              Toggle left
            </md-button>
          </div>
          <div>
            <md-button ng-click="toggleRight()" ng-hide="isOpenRight()" class="md-primary">
              Toggle right
            </md-button>
          </div>
        </div>
        <div flex=""></div>
      </md-content> -->







  <!-- Angular Scripts  -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-aria/angular-aria.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-material/angular-material.js"></script>
  <script type="text/javascript" src="bower_components/angular-material-data-table/dist/md-data-table.min.js"></script>


  <!-- Program Scripts -->
  <script src="app.js"></script>
  <script src="appCtrl.js"></script>
</body>

</html>
