md-content h1 {
  text-align: center;
  margin: 5px;
}

.sideNavLogo {
  justify-content: center;
  align-content: center;
  background-color: primary;
}


.btnGroup{
  justify-content: center;
  margin: 5px;
}

.tableContainer {
  justify-content: center;
  text-align: center;
}
.mainContent {
  align-items: center;
justify-content: center;
border: 1px solid black;
}
